*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question{
    margin: 10em 0 0;
}

.letter{
    font-size: 7em;
    color: brown;
}

.answer{
    display: flex;
    gap: .5em;
}

.answer-box{
    height: 2em;
    width: 4em;

    font-size: 1.5em;
    font-weight: 700;
    text-align: center;

    outline: none;
    border: solid burlywood 1px;
    border-radius: 5px;
    padding: .25em;
}

.answer-box:focus{
    border:solid brown 1px;
    color: transparent;
    text-shadow: 0px 0px 0px #666;
}

.button-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "pass submit";
    column-gap: .5em;
    margin-top: 7em;
}

/* .button{
    height: 2.5em;
    border: none;
    border-radius: .35em;
    font-size: larger;
    padding: .5em 1em;
    background-color: transparent;
} */

.pass{
    grid-area: pass;
    background-color: burlywood;
    color: brown;

    height: 2.5em;
    border: none;
    border-radius: .35em;
    font-size: larger;
    padding: .5em 1em;
}

.submit{
    grid-area: submit;
    background-color: brown;
    color: white;

    height: 2.5em;
    border: none;
    border-radius: .35em;
    font-size: larger;
    padding: .5em 1em;
}